<h1>Send message</h1>
<form method="POST" action="/new">
  <label for="name">
    <input
      id="name"
      type="text"
      name="messageUser"
      placeholder="Enter your name"
    />
  </label>
  <label for="message">
    <input
      id="message"
      type="text"
      name="messageText"
      placeholder="Enter your message"
    />
  </label>
  <button type="submit">Submit</button>
</form>
